/*.suo
/ServerTier/PresentationLayer/ServiceHost/obj
/ClientTier/Client/obj
/ClientTier/ClientGenerateContract1/obj
/ClientTier/ClientGenerateContract2/obj
/ServerTier/BusinessLayer/Business/obj
/ServerTier/EntityLayer/DTOEntity/obj
/ServerTier/PresentationLayer/ServiceHost/bin
/ClientTier/Client/bin
/ClientTier/ClientGenerateContract1/bin
/ClientTier/ClientGenerateContract2/bin
/ServerTier/BusinessLayer/Business/bin
/ServerTier/EntityLayer/DTOEntity/bin
/ServerTier/PresentationLayer/ServiceHost/*.user
/ServerTier/PresentationLayer/ServiceHost/Properties/PublishProfiles
/ClientTier/Client/*.user
/ServerTier/BusinessLayer/Business/*.user
/ServerTier/EntityLayer/DTOEntity/*.user
